::-webkit-file-upload-button {
    cursor: pointer;
}

.dl4csr-main--paper.upload {
    text-align: left;
    line-height: 1.5;
    padding: 16px 32px;
    margin: 16px 0;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.dl4csr-main--paper.upload p {
    display: flex;
    margin: 12px 0;
}

.dl4csr-main--paper.upload p label {
    width: 100px;
    font-weight: bold;
    margin: auto;
}

.dl4csr-input {
    padding: 6px 3px;
    font-size: 16px;
    width: 100%;
    resize: none;
    border: 1px solid #E0E0E0;
    outline: none;
    transition: all 0.2s ease;
    border-radius: 3px;
}

.dl4csr-input:hover {
    border-color: #CDCDCD;
}

.dl4csr-input:focus {
    border-color: #42A5F5;
}


.dl4csr-button {
    line-height: 1.5;
    cursor: pointer;
    margin: 0 6px;
    outline: none;
    border: none;
    color: white;
    text-decoration: none;
    background-color: #2196F3;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    display: inline-block;
}

.dl4csr-button:hover {
    background-color: #42A5F5;
}

.dl4csr-button input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}

.dl4csr-button.err {
    line-height: 1.5;
    cursor: pointer;
    margin: 0 6px;
    outline: none;
    border: none;
    color: white;
    text-decoration: none;
    background-color: #E51C23;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    display: inline-block;
}

.dl4csr-button.err:hover {
    background-color: #F36C60;
}

.dl4csr-button.err input {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
